.search-container {
    position: relative;
  }
  
  .search-container input {
    padding-right: 32px; /* Espaço para o ícone */
    color: #d1cfcf;
    background-color: #F5F5F5;
  }
  
  .search-container .search-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
    color: #ccc;
  }
  