.homepage-container {
  background-color: #f9f8fe;
}

/* Estilos para a seção Hero */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 20px;
  background-color: #f5f5f5;
  margin-bottom: 40px;
  height: 600px; /* Ajuste a altura conforme necessário */
}

.hero-text {
  width: 40%; /* 40% da largura da seção */
  padding-right: 30px;
  padding-left: 30px;
}

.hero-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #F6AA1C; /* Cor laranja para o subtítulo */
  margin-bottom: 15px;
  margin-top: 2px;
  font-weight: 600;


}

.hero-title {
  font-family: 'Roboto', sans-serif;
  color: #1F1F1F;
  font-size: 62px;
  font-weight: 900;
  line-height: 66px;
  letter-spacing: 0.9999998808907104px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.hero-description {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #474747;
  margin-bottom: 40px;
  font-weight: 100;
}

.hero-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #C92071;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  width: 120px;
  height: 20px;
  text-align: center;
}

.hero-gallery {
  width: 60%; /* 60% da largura da seção */
  height: 100%; /* Preenche a altura da seção */
}

.featured-collections {
  text-align: center;
  margin: 40px 0;
}

.featured-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.featured-collections-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.featured-collection-item {
  text-align: center;
  
}

.featured-icon-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  ;
}

.featured-icon {
  max-width: 90px;
  max-height: 90px;
}

.featured-label {
  font-size: 14px;
  color: #525151;
  font-family: 'Roboto', sans-serif;;
  font-weight: bold;


}

/* Estilos para Coleções em Destaque */
.collections-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 90%; 
  height: 100%;
  padding: 5px 65px 45px 65px;

}

.collection-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  text-align:left;
  width: 500px;
  height: 240px;
   /* Faz com que os cards cresçam proporcionalmente */
  
}

.collection-image {
  width: 100%;
  height: 100%;
  border-radius: 4px ; 
}

.collection-info {
  position: relative;
}

.collection-discount {
  position: absolute;
  top: 15px;
  left: 20px;
  background-color: #E7FF86;
  color: #474747;
  font-weight: bold;
  font-family:'Roboto', sans-serif;
  padding: 7px 12px;
  border-radius: 29px;
  font-size: 13px;
}

.collection-button {
  display: inline-block;
  padding: 10px 30px;
  background-color: #F5F5F5;
  color: #C92071;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 40px; /* Subiu um pouco o botão na imagem */
  left: 15px;
}

.special-offer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding: 40px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.offer-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.offer-text {
  flex: 1;
  padding-left: 40px;
  font-family: 'Roboto', sans-serif;
}

.offer-subtitle {
  font-size: 14px;
  color: #C92071;
  margin-bottom: 2px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;

}

.offer-title {
  font-size: 42px;
  font-weight: bold;
  color:#474747;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

.offer-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
  
}

.offer-button {
  display: inline-block;
  padding: 12px 30px;
  background-color: #C92071;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}