.product-listing-container {
  display: flex;
  max-width: 100%;
  margin: 5px 5px ;
  padding: 65px 20px 20px 10px;
   /* Espaço entre a sidebar de filtros e a listagem de produtos */
  background-color: #f9f8fe;
  grid-template-columns: repeat(4, 1fr);
}

.filters-sidebar {
  background-color: #ffffff;
  padding: 35px 10px 30px 25px;
  margin: 65px 5px 30px 10px;
  border-radius: 8px;
  width: 308px;
  flex-shrink: 0; /* Mantém o tamanho fixo do sidebar */
  max-height: 130vh; /* Limita a altura da sidebar */
  
}

.section-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 5px) /* Ajuste para o espaço disponível ao lado dos filtros */
}

.order-by {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Centralizar verticalmente */
  margin-bottom: 20px;
}

.order-label {
  font-size: 16px; /* Fonte menor para corresponder à imagem */
  font-weight: bold;
  color: #333; /* Cor aproximada ao tom escuro */
  margin-right: 10px;
}

.order-select {
  padding: 20px 15px; /* Ajuste do padding para um tamanho mais compacto */
  border-radius: 4px; /* Bordas arredondadas */
  font-size: 16px; /* Fonte menor */
  background-color: #f9f8fe;
  color: #333; /* Cor do texto */
  appearance: none; /* Remove o estilo padrão do select */
}


.order-select:focus {
  outline: none;
  border-color: #666; /* Cor mais escura no foco */
}

